doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title какашка
        link(href="styles/main.css" type="text/css" rel="stylesheet" media="all")
    body
        p побрякушка
        p побраякушка 2
        dive побрякушка-div-3
        script(src="scripts/kaka.js")